@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
ul,li,ol{
    list-style: none;
}
.inb{
    display: inline-block;
}
.poa{
    position: absolute;
}
.por{
    position: relative;
}
.pof{
    position: fixed;
}
.bl{
    display: block;
}
