{##  我真诚地保证：#}
{##  我自己独立地完成了整个程序从分析、设计到编码的所有工作。#}
{##  如果在上述过程中，我遇到了什么困难而求教于人，那么，我将在程序实习报告中#}
{##  详细地列举我所遇到的问题，以及别人给我的提示。#}
{##  在此，我感谢 XXX, …, XXX对我的启发和帮助。下面的报告中，我还会具体地提到#}
{##  他们在各个方法对我的帮助。#}
{##  我的程序里中凡是引用到其他程序或文档之处，#}
{##  例如教材、课堂笔记、网上的源代码以及其他参考书上的代码段,#}
{##  我都已经在程序的注释里很清楚地注明了引用的出处。#}
{##}
{##  我从未没抄袭过别人的程序，也没有盗用别人的程序，#}
{##  不管是修改式的抄袭还是原封不动的抄袭。#}
{##  我编写这个程序，从来没有想过要去破坏或妨碍其他计算机系统的正常运转。 #}
{##  <胡崟昊> 改成自己的名字#}

<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>天气主页</title>
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/temp.png">
    <link rel="stylesheet" type="text/css" href="/static/public.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <style type="text/css">

    </style>
</head>
<body>
    {#标题栏S#}
    <p class="title">天气查询</p>
    {#标题栏E#}
    {#作者信息S#}
    <div class="user por">
        <img src="/static/images/user.png" >
{#        学号姓名S#}
        <div class="bo">
            <ul>
                <li class="li1 por">胡崟昊</li>
                <li class="li1 li2 por">17081714</li>
            </ul>
        </div>
{#        学号姓名E#}
    </div>

    <div class="img_box">
        <img src="/static/images/flag.png" alt="天气" class="img">
    </div>
    <form action="/search" method="post" class="form">
        <div id="serbox1_div">
            <select name="year" class="year por">
                <option>2019</option>
                <option>2018</option>
                <option>2017</option>
                <option>2016</option>
                <option>2015</option>
                <option>2014</option>
                <option>2013</option>
                <option>2012</option>
                <option>2011</option>
            </select>
            <div id="ser_div">
                <i><img src="/static/images/ser.png" class="por"></i>
                <input type="text" name="city" class="city" placeholder="请输入城市">
            </div>

        </div>
    </form>
    <p class="title end">使用框架介绍flask（WSGI）、jinja2（网页模板）、highchart（图表）</p>
</body>
</html>